$white: #fff;
$white-50: rgba(255,255,255,0.5);
$white-10: rgba(255,255,255,0.1);
$black: #000;
$black-50: rgba(0,0,0,0.5);
$black-10: rgba(0,0,0,0.1);
$yellow: #fca311;

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    resize: none;
}


html{
    background: url(/assets/daria-kraplak-d34DtRp1bqo-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    @include flex-center;
    min-height: 100vh;
    max-height: 100vh;
}
body{
    font-size: 16px;
}

.clock{
    width: 50vh;
    height: 50vh;
    border: 1px solid $white-50;
    border-radius: 50%;
    padding: 20px;

    &__face{
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(-3px); /* account for the height of the clock hands */

        /*&::before{
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $white;
            display: block;
            position: relative;
            top: 47.5%;
            left: 47.5%;
            z-index: 1;
        }*/
    }

    &__hand{
        position: absolute;
        top: 50%;
        transform-origin: 100%; // By default this is 50%, and rotates from the centre.
        height: 1px;
        background: $white-50;
        transform: rotate(90deg);
        border-radius: 5px;
        transition: all 0.1s;
        transition-timing-function: cubic-bezier(0, 1.79, 0.85, 1.33); // This gives it a push back effect, like a clock!
    }

    &--hour-hand{
        background: $yellow;
        width: 33%;
        left: 16%;
        height: 2px;
    }

    &--min-hand{
        width: 50%;
    }

    &--sec-hand{
        background: $white;
        width: 50%;
    }
}

.time{
    padding: 100px 0 0 0;

    input{
        background: transparent;
        border: none;
        color: $white-50;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align: center;
        width: 100%;
    }
}